node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# ignore .mov video sources
src/renderer/src/assets/sources/**/*.mov
src/renderer/src/assets/**/*.mp4

# tailwindcss
src/renderer/public/output.css
